header{
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: 300px;
    background-color: #62261d;
    border: 5px solid #3c1e06;
}

body{
    background-color:rgb(199, 194, 64);
    text-align: center;
    padding: 20px;
}

#Myface{
width: 360px;
height: 480px;
border: 5px solid;
color: #782e22;

}

video{
    float: left;
    border: 10px solid;
    color: #512706
}

nav {
    float: left;
    width: 20%;
    height: 100vh;
    padding: 10px;
    background-color: yellow;
    border: 1px solid gray ;
    text-align: center;
    clear: both;
    top: 0px;
    position: sticky;
   }

   main {
    float: left;
    width: 60%;
    height: 2000px;
    padding: 10px;
    background-color: yellow;
    border: 1px solid gray ;
    text-align: center;
   }

footer {
    padding: 10px;
    background-color: yellow;
    border: 1px solid gray ;
    text-align: center;
    clear: both;
   }   

h2{
    font-size: 40px;
}
p{
    line-height: 30px;
}