header{
    margin: 10px;
    font-size: 36px;
    font-weight: 300px;
    background-color: #62261d;
    border: 5px solid #3c1e06;
    text-align: center;
}

body{
    background-color:rgb(244, 255, 42);
    padding: 20px;
}

#Myface{
width: 360px;
height: 480px;
border: 5px solid;
color: #782e22;

}



nav {
    float: left;
    width: 270px;
    height: 45px;
    padding: 0 15px;
    background-color: rgb(151, 108, 52);
    border: 1px solid rgb(97, 38, 38) ;
   
   }

   nav a {
    display: inline-block;
    margin: 0 12px;
    color: #672a16;
    font-weight: bold;
   }

   main {
    float: left;
    width: 260px;
    height: 600px;
    padding: 20px;
    background-color: rgb(151, 108, 52);
    border: 1px solid rgb(97, 38, 38) ;
    
   }

   video{
    float: left;
    margin: 20px;
        height: 117px;
        border: 5px solid rgb(97, 38, 38);   
    
}
   
#Myface{
    clear: both;
    float: left;
    
    width: 110px;
        height: 150px;
        padding: 0px;
        margin-top: 10px;
    
}

   article{
    font-weight: 200;
    width: 70%;
    float: left;
    
    margin: 0px;
    padding: 5px;
   }

   h1{
    float: left;

   }

   span{
    clear: both;
    float: left;
    font-size: 15px;
    width: 250px;
    
    
   }
   
footer {
    padding: 10px;
    width: 280px;
    background-color: rgb(151, 108, 52);
    border: 1px solid rgb(97, 38, 38) ;
    text-align: center;
    clear: both;
   }   

   @media screen and (min-width: 600px) {
    
    header{
        
        font-size: 60px;
    padding: 20px;
    }
    
    nav{
        width: 100px;
        height: 940px;
        padding: 0;
    }

    nav a{
        margin-bottom: 5px;
        display: flex;
    }
    
    main{
        width: 568.5px;
        height: 900px;
    }

    video{
        margin: 0 75px;
        height: 225px;
        width: 400px;
    padding: 0px;
    border: 10px solid rgb(97, 38, 38);   
    }

    article{
        padding: 10px;
        width: 360px;
       }

       span{
        width: 400px;
        font-size: large;

       }

    #Myface{
        width: 160px;
        height: 240px;
    padding: 0px;
    margin-top: 10px;
        
    }

    footer{
        width: auto;
    }
   
    
   }

   @media screen and (min-width: 900px) {
    
    header{
        
        font-size: 60px;
    padding: 20px;
    }
    
    nav{
        width: 8%;
        height: 940px;
    }

    nav a{
        margin-bottom: 5px;
        display: flex;
    }
    
    main{
        width: 89%;
        height: 900px;
    }

    video{
        margin-left: 300px;
        height: 360px;
        width: 50%;
    padding: 0px;
    border: 10px solid rgb(97, 38, 38);   
    }

    article{
        padding: 10px;
       }

       span{
        width: 1000px;
        font-size: large;

       }

    #Myface{
        width: 19%;
        height: 320px;
    padding: 0px;
    margin-top: 10px;
        
    }

    footer{
        width: auto;
    }
   
    
   }